<div class="header">
  <div class="title">
    {{title}}
  </div>
  <div class="headersearch">
    <input type="search" placeholder="Search..">
  </div>

  <div class="headerlinks" routerLinkActive="active"> 
  <a class="links" routerLink="./productlist"> Products List</a>   </div>
  <div class="headerlinks1 " routerLinkActive="active"> 
    <div class="carticon">
      <div style="font-size: 8px"> {{count}}</div>
      <div>
        <i class="fa fa-shopping-cart" style="font-size:25px"></i>
        <a class="links" routerLink="./mycart"> Cart</a>   </div></div>
    </div>
   
  <div class="headerlinks"> 
    <a class="links" routerLink="./myaccount"> MyAccount</a> 
     </div>

</div>
<router-outlet></router-outlet>

