:root {
--padding-1: 1px;
--padding-2: 2px;
--padding-3: 3px;
--padding-4: 4px;
--padding-5: 5px;
--padding-6: 6px;
--padding-7: 7px;
--padding-8: 8px;
--padding-9: 9px;
--padding-10: 10px;
--padding-11: 11px;
--padding-12: 12px;
--padding-13: 13px;
--padding-14: 14px;
--padding-15: 15px;
--padding-16: 16px;
--padding-17: 17px;
--padding-18: 18px;
--padding-19: 19px;
--padding-20: 20px;
--padding-25: 25px;
}